body {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
  letter-spacing: 1;
}

.anim_container_outer {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 1080px;
}

.anim_container_inner {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 1080px;

  -webkit-mask-image: url('./TimeContainerMask.png');
  mask-image: url('./TimeContainerMask.png');

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: contain; /* or cover */
  mask-size: contain;

  -webkit-mask-position: center;
  mask-position: center;
}

.main_container {
  position: absolute;
  left: 262px;

  bottom: 29px;
  width: 1395px;
  height: 144px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-width: 4px;
  border-color: rgb(250, 241, 224);;
  border-style: solid;

  border-radius: 10px;
}

.inner_container {
  position: relative;
  width: 1387px;
  height: 136px;

  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.middle_container {
  position: relative;
  flex: 1;
  height: 100%;

  /* For gradient color */
  background: linear-gradient(
    90deg,
    var(--p1-score-bg-color) 0%,
    var(--p2-score-bg-color) 100%
  );

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stripe {
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    -60deg,
    #2229,
    #2229 6px,
    #3339 6px,
    #3339 12px
  );
}

.vs {
  position: relative;
  font-size: 77px;
  color: var(--text-color);
}

.score_container {
  width: 106px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p1.score_container {
  background-color: var(--p1-score-bg-color);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.p2.score_container {
  background-color: var(--p2-score-bg-color);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.score {
  color: var(--text-color);
  font-size: 96px;
  max-width: 86px;
}

.column {
  position: absolute;
  width: 347px;
  height: 117px;
  top: 7px;
  display: flex;
  flex-direction: column;
}

.p1.column {
  left: 89px;
}

.p2.column {
  right: 89px;
}

.thin {
  width: 347px;
  height: 34px;
  background-color: var(--bg-color);

  box-sizing: border-box;
  flex-shrink: 0;
  
  border-radius: 10px;
  padding: 0 10px;
}

.top_row {
  width: 100%;
  height: 39px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.p1 .top_row {
  flex-direction: row;
}

.p2 .top_row {
  flex-direction: row-reverse;
}

.flags_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flag {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 39px;
  height: 39px;
}

.losers_container {
  flex: 1;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.losers {
  font-size: 23px;
  color: var(--text-color);
}

.character_area {
  position: relative;
  width: 90px;
  height: 90px;
  margin-bottom: 62px;
  box-sizing: border-box;
  border-radius: 10px;
  flex-shrink: 0;
  overflow: hidden;
}

.character_slit {
  position: absolute;
  bottom: 0px;
  height: 28px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.p1 .character_slit {
  background-color: var(--p1-score-bg-color);
}

.p2 .character_slit {
  background-color: var(--p2-score-bg-color);
}

.character_container {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
}

.tsh_character_container {
  flex-direction: column;
  width: 92px;
  height: 92px;
}

.p1 .tsh_character {
  transform: scaleX(-1);
}

.character_container > div > div {
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.logo {
  width: 89px;
  height: 89px;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  z-index: 9;
}

.name {
  font-size: 19px;
  color: var(--text-color);
  text-transform: uppercase;
}

.name_container {
  margin-bottom: 8px;
}

.match, .best_of {
  font-size: 19px;
  text-transform: uppercase;
  color: var(--text-color);
}

.p1 .sponsor {
  background: var(--p1-score-bg-color);

  /* For gradient color */
  /* background: linear-gradient(
    90deg,
    var(--p1-score-bg-color) 0%,
    var(--text-color) 200%
  ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p2 .sponsor {
  background: var(--p2-score-bg-color);

  /* For gradient color */
  /* background: linear-gradient(
    90deg,
    var(--p2-score-bg-color) 0%,
    var(--text-color) 200%
  ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.side {
  position: absolute;
  bottom: 29px;
  width: 191px;
  height: 144px;

  box-sizing: border-box;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;

  background-color: rgba(0, 0, 0, 0.4);
}

.logo_container {
  border-color: var(--p1-score-bg-color);
  left: 28px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.time_container {
  border-color: var(--p2-score-bg-color);
  right: 28px;
}

.local_time, .clock, .timezone {
  position: absolute;
  text-align: center;
  width: 100%;
  color: var(--text-color);
}

.local_time {
  top: 15px;
  font-size: 15px;
}

.clock {
  top: 45px;
  font-size: 30px;
}

.timezone {
  top: 90px;
  font-size: 15px;
}